@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Hide the default date picker icon so we can use our own */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}